[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
[submodule "themes/hugo-theme-minos"]
	path = themes/hugo-theme-minos
	url = https://github.com/carsonip/hugo-theme-minos
