<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Loki.dev • blog</title>
  <link rel="stylesheet" href="/style.css" />
  <meta name="description" content="Persönlicher Entwickler Blog von Loki.dev aka Torsten Zielke">
</head>

<body>
  <header>
    <a href="/" style="text-decorator: none; color: black">
      <picture style="max-width: 32px" />
      <source srcset="/favicon.avif" type="image/avif" />
      <source srcset="/favicon.webp" type="image/webp" />
      <img loading="lazy" width="32" height="32" alt="logo: troll picture" src="/favicon.png" />
      </picture>
      <h1>Loki • dev</h1>
    </a>
    <nav>
      | <a class="menu" href="/">main</a> |
      <a class="menu" href="/blog/">blog</a> |
      <a class="menu" href="/vortraege/">vorträge</a> |
      <a class="menu" href="/about/">about</a> |
    </nav>
  </header>

  <section class="section">{% block content %}{% endblock %}</section>
  <footer class="footer">
    ©{{ now() | date(format="%Y") }} • no cookies :) •
    <a href="/impressum">impressum</a>
  </footer>
</body>

</html>
